set :cookbook, {
  :application  => 'my_app',
  :base_dir     => '/var/www',
  :repository   => 'git@github.com:user/my-app.git',
 #:platform     => :php       # If enabled, you can remove all mongrel* lines
  :mongrel_port => 3000,      # Your next app should be 3003
  :ssh_port     => 22,        # Or any unused port above 1024 (best practice)
  
  :production => {
    :domain         => 'myapp.com',
    :other_domains  => [ 'www.myapp.com' ],
    :mongrels       => 2      # Ports 3000-3001
  },
  
  :staging => {
    :domain    => 'staging.myapp.com',
    :mongrels  => 1,          # Port 3002
    :auth_user => 'staging',  # Nginx HTTP authorization
    :auth_pass => 'password'
  },
  
  # Below is necessary for cap debian:setup
  
  :monit => {
    :domain     => 'monit.myapp.com',
    :from       => 'monit@myapp.com',
    :to         => 'me@myapp.com',
    :port       => 8100,
    :auth_user  => 'admin',
    :auth_pass  => 'password'
  },
  
  :sources => {
    :git          => 'http://kernel.org/pub/software/scm/git/git-1.6.0.1.tar.gz',
    :lighttpd     => 'http://www.lighttpd.net/download/lighttpd-1.4.19.tar.gz',
    :nginx        => 'http://sysoev.ru/nginx/nginx-0.6.32.tar.gz',
    :ruby         => 'ftp://ftp.ruby-lang.org/pub/ruby/1.8/ruby-1.8.7-p72.tar.gz',
    :rubygems     => 'http://rubyforge.org/frs/download.php/38646/rubygems-1.2.0.tgz',
    :sphinx       => 'http://www.sphinxsearch.com/downloads/sphinx-0.9.8.tar.gz'
  }
}

# If installed from gem
require 'cookbook'

# If installed from plugin
# require 'vendor/plugins/cookbook/lib/cookbook'