set :cookbook, {
  :application => 'my_app',
  :repository  => 'git@github.com:user/my-app.git',
  :base_dir    => '/var/www',
  
  :platform     => :mongrel,  # Or :php
  :mongrel_port => 3000,
  :ssh_port     => 22,        # Or any unused port above 1024 (best practice)
  
  :production => {
    :domain         => 'myapp.com',
    :other_domains  => [ 'www.myapp.com' ],
    :mongrels       => 2      # Ports 3000-3001
  },
  
  :staging => {
    :domain    => 'staging.myapp.com',
    :mongrels  => 1,          # Port 3002
    :auth_user => 'staging',  # Nginx HTTP authorization
    :auth_pass => 'password'
  },
  
  :sources => {
    :git          => 'http://kernel.org/pub/software/scm/git/git-1.5.5.3.tar.gz',
    :lighttpd     => 'http://www.lighttpd.net/download/lighttpd-1.4.19.tar.gz',
    :nginx        => 'http://sysoev.ru/nginx/nginx-0.6.31.tar.gz',
    :ruby         => 'ftp://ftp.ruby-lang.org/pub/ruby/1.8/ruby-1.8.6-p114.tar.gz',
    :rubygems     => 'http://rubyforge.org/frs/download.php/35283/rubygems-1.1.1.tgz',
    :sphinx       => 'http://www.sphinxsearch.com/downloads/sphinx-0.9.8-rc2.tar.gz'
  },
  
  :monit => {
    :from       => 'monit@myapp.com'
    :to         => 'me@myapp.com',
    :port       => 2812,
    :auth_user  => 'admin',
    :auth_pass  => 'password'
  }
}

# See config/cookbook/cookbook.rb for more cookbook options
require 'config/cookbook/cookbook'